@charset "UTF-8";
@font-face {
  font-family: 'ProximaNova';
  src: url("../font/proxima_regular/proxima-nova-regular.eot");
  src: url("../font/proxima_regular/proxima-nova-regular.eot?#iefix") format("embedded-opentype"), url("../font/proxima_regular/proxima-nova-regular.woff2") format("woff2"), url("../font/proxima_regular/proxima-nova-regular.woff") format("woff"), url("../font/proxima_regular/proxima-nova-regular.ttf") format("truetype"), url("../font/proxima_regular/proxima-nova-regular.svg#youworkforthem") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url("../font/proxima_bold/proxima-nova-bold.eot");
  src: url("../font/proxima_bold/proxima-nova-bold.eot?#iefix") format("embedded-opentype"), url("../font/proxima_bold/proxima-nova-bold.woff2") format("woff2"), url("../font/proxima_bold/proxima-nova-bold.woff") format("woff"), url("../font/proxima_bold/proxima-nova-bold.ttf") format("truetype"), url("../font/proxima_bold/proxima-nova-bold.svg#youworkforthem") format("svg");
  font-weight: 600;
  font-style: normal; }
header {
  height: 40px;
  width: 100%;
  background-color: white;
  display: flex;
  display: grid;
  grid-template-columns: [start] 2fr [logo-start] 15fr [rubrics-start] 43fr [rubrics-end] 1fr [search-start] 12fr [search-end] 1fr [end];
  align-items: center;
  z-index: 10; }
  header .rubrics-container {
    cursor: pointer;
    grid-column: rubrics-start/rubrics-end;
    display: grid;
    grid-template-columns: [start principals] 15fr [infographis] 16fr [burger] 12fr;
    align-items: center; }
    @media (max-width: 800px) {
      header .rubrics-container {
        display: block;
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 0 20px; } }
    header .rubrics-container .rubric {
      text-transform: uppercase;
      letter-spacing: 0.5px; }
      header .rubrics-container .rubric a {
        text-decoration: none;
        color: #333; }
    header .rubrics-container .r1 {
      grid-column: principals; }
    header .rubrics-container .r2 {
      grid-column-start: infographis; }
    header .rubrics-container .r3 {
      grid-column-start: burger; }
    @media (max-width: 800px) {
      header .rubrics-container .r1, header .rubrics-container .r2, header .rubrics-container .r3 {
        display: none; } }
  header .texty-logo {
    grid-column-start: logo-start;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 800px) {
      header .texty-logo {
        grid-column: 1/2;
        justify-content: center;
        margin-left: 1em; } }
    header .texty-logo img {
      min-width: 150px;
      max-width: 100%;
      max-height: 20px;
      object-fit: contain; }
  header i {
    font-size: 35px;
    color: #333;
    margin: 0 0 0 5px;
    max-height: 1em;
    transition: all 0.5s; }
    header i:hover {
      color: #ed6746; }
  header .soc {
    position: fixed;
    top: 5px;
    right: 25px; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../font/proxima_regular/proxima-nova-regular.eot");
  src: url("../font/proxima_regular/proxima-nova-regular.eot?#iefix") format("embedded-opentype"), url("../font/proxima_regular/proxima-nova-regular.woff2") format("woff2"), url("../font/proxima_regular/proxima-nova-regular.woff") format("woff"), url("../font/proxima_regular/proxima-nova-regular.ttf") format("truetype"), url("../font/proxima_regular/proxima-nova-regular.svg#youworkforthem") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url("../font/proxima_bold/proxima-nova-bold.eot");
  src: url("../font/proxima_bold/proxima-nova-bold.eot?#iefix") format("embedded-opentype"), url("../font/proxima_bold/proxima-nova-bold.woff2") format("woff2"), url("../font/proxima_bold/proxima-nova-bold.woff") format("woff"), url("../font/proxima_bold/proxima-nova-bold.ttf") format("truetype"), url("../font/proxima_bold/proxima-nova-bold.svg#youworkforthem") format("svg");
  font-weight: 600;
  font-style: normal; }
footer {
  background-color: #333;
  color: white;
  margin-top: 80px;
  padding: 30px 0;
  display: grid;
  grid-template-columns: 2fr 13fr 5fr 35fr 5fr 13fr 1fr; }
  @media (max-width: 800px) {
    footer {
      background-color: black;
      color: white;
      padding: 30px 1em;
      display: block; } }
  footer a {
    text-decoration: none;
    color: white; }
  footer a:hover {
    color: #ed6746; }
  footer li, footer p {
    font-size: 16px;
    margin: 5px 0; }

/* копірайт колонка */
#logo-copyright {
  grid-column: 2/3; }
  #logo-copyright .copyright {
    margin-top: 20px; }
  #logo-copyright a.texty-logo {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center; }
    #logo-copyright a.texty-logo img {
      width: 100%;
      margin: auto; }
  #logo-copyright #license {
    grid-column: 2/-1;
    margin-top: 50px;
    font-size: 14px; }

/* лінки */
#guide-block {
  grid-column: 4/5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between; }
  @media (max-width: 1050px) {
    #guide-block {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 800px) {
    #guide-block {
      display: none; } }
  #guide-block ul {
    list-style-type: none;
    margin: 0; }

/* соціальні мережі */
#social_buttons {
  grid-column: -3/-2; }
  @media (max-width: 800px) {
    #social_buttons {
      margin-top: 50px; } }
  #social_buttons img {
    width: 30px;
    margin-right: 10px; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../font/proxima_regular/proxima-nova-regular.eot");
  src: url("../font/proxima_regular/proxima-nova-regular.eot?#iefix") format("embedded-opentype"), url("../font/proxima_regular/proxima-nova-regular.woff2") format("woff2"), url("../font/proxima_regular/proxima-nova-regular.woff") format("woff"), url("../font/proxima_regular/proxima-nova-regular.ttf") format("truetype"), url("../font/proxima_regular/proxima-nova-regular.svg#youworkforthem") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url("../font/proxima_bold/proxima-nova-bold.eot");
  src: url("../font/proxima_bold/proxima-nova-bold.eot?#iefix") format("embedded-opentype"), url("../font/proxima_bold/proxima-nova-bold.woff2") format("woff2"), url("../font/proxima_bold/proxima-nova-bold.woff") format("woff"), url("../font/proxima_bold/proxima-nova-bold.ttf") format("truetype"), url("../font/proxima_bold/proxima-nova-bold.svg#youworkforthem") format("svg");
  font-weight: 600;
  font-style: normal; }
.donate-us {
  margin: 80px auto 30px auto; }
  .donate-us hr {
    grid-column: 1/-1;
    margin: 20px 0; }
  .donate-us a.donate-button {
    text-decoration: none;
    cursor: pointer;
    width: max-content;
    margin: auto;
    min-height: 50px;
    padding: 10px;
    color: white;
    background-color: #ed6746;
    display: flex; }
    .donate-us a.donate-button p {
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: auto !important;
      font-weight: 600; }
  .donate-us a {
    color: #ed6746;
    border-bottom: 0; }

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6; }

p {
  font-size: 18px; }

#header {
  display: flex;
  min-height: 30vh; }

h1 {
  /*color: #2a2a2a;*/
  text-align: center;
  margin: auto;
  max-width: 80%;
  font-size: calc(30px + 2vw); }

#map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  /*max-width: 1400px;*/
  margin: auto; }

.pane {
  margin: 0;
  color: white;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.6;
  font-size: 25px; }
  @media (max-width: 825px) and (orientation: portrait) {
    .pane {
      font-size: 20px; } }

.pane.active {
  font-size: 40px; }
  @media (max-width: 825px) and (orientation: portrait) {
    .pane.active {
      font-size: 30px; } }

.container {
  width: 100%;
  height: 100%; }
  @media (max-width: 812px) {
    .container {
      height: 110%; } }

#center_ukraine {
  display: none;
  font-size: 14px;
  background-color: #333;
  color: white;
  padding: 3px;
  margin: 0;
  text-align: center; }
  @media (max-width: 812px) {
    #center_ukraine {
      display: block; } }

#spinner {
  background-image: url("img/loading.gif");
  width: 100px;
  position: absolute;
  top: 40%;
  left: 50%; }

canvas {
  width: 100%; }

.test_big {
  margin-right: 10px;
  outline: none;
  border: none;
  cursor: pointer; }

.test_big:hover {
  background-color: #f59894; }

#scroll, #scroll_t {
  position: relative;
  width: 100%;
  margin: 100px 0 0 auto;
  display: grid;
  grid-template-columns: 40% auto; }
  #scroll .buttons, #scroll_t .buttons {
    min-height: 30px;
    margin: 10px auto;
    max-width: max-content;
    width: auto;
    display: flex; }

.scroll__graphic {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100% !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000; }
  @media (max-width: 825px) and (orientation: portrait) {
    .scroll__graphic {
      height: 50vh;
      top: 50px; } }
  .scroll__graphic .change {
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 1000000;
    display: block; }
    @media (max-width: 825px) and (orientation: portrait) {
      .scroll__graphic .change {
        top: 0;
        right: 5px; } }

.scroll__text {
  grid-column: 1/3;
  width: 60%;
  margin: auto;
  grid-row: 1/2;
  z-index: 1000;
  pointer-events: none; }
  @media (max-width: 800px) {
    .scroll__text {
      width: 90%;
      margin: auto; } }
  .scroll__text .step {
    margin-top: 100vh; }
    .scroll__text .step p {
      font-size: 18px; }
      @media (max-width: 812px) {
        .scroll__text .step p {
          font-size: 16px; } }

#scroll > .scroll__graphic {
  grid-column: 1/3;
  grid-row: 1/2;
  height: 100vh; }
  @media (max-width: 800px) {
    #scroll > .scroll__graphic {
      height: 50vh; } }

#scroll > .scroll__text {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 60%;
  margin: auto;
  color: #e0e0e0; }
  #scroll > .scroll__text .step div {
    padding: 20px;
    line-height: 1.6;
    background-color: #222222; }

#scroll_t > .scroll__graphic {
  grid-column: 2/3;
  grid-row: 1/2;
  height: max-content;
  z-index: 10000; }
  @media (max-width: 800px) {
    #scroll_t > .scroll__graphic {
      grid-column: 1/3;
      min-height: 50vh;
      height: max-content;
      top: 0;
      background-color: white; } }

#scroll_t > .scroll__text {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 90%;
  z-index: 100;
  color: #222222;
  margin: auto 0 auto 10%; }
  @media (max-width: 800px) {
    #scroll_t > .scroll__text {
      grid-column: 1/3;
      margin: auto; } }
  #scroll_t > .scroll__text .step div {
    padding: 20px;
    line-height: 1.6;
    background-color: white; }

#chart {
  position: sticky;
  top: 0; }

#tooltip:empty {
  display: none; }

#tooltip {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  position: absolute;
  padding: 4px;
  margin: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  z-index: 9;
  pointer-events: none; }

#split-map {
  width: 100%;
  max-width: 500px;
  margin: auto; }

#split-longitude {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: block; }

#split-longitude svg {
  display: block;
  margin: auto; }

.x.axis line {
  stroke: grey; }

.x.axis text {
  fill: white;
  font-size: 12px; }

.y.axis line {
  stroke: grey; }

.y.axis text {
  fill: white; }

path.domain {
  stroke: grey; }

.multiple {
  position: relative; }
  .multiple path.domain {
    display: none; }
  .multiple .y.axis line, .multiple .x.axis line {
    stroke: lightgrey; }
  .multiple .y.axis text, .multiple .x.axis text {
    font-size: 13px; }

section.text {
  width: 50%;
  margin: 50px auto; }
  @media (max-width: 800px) {
    section.text {
      width: 90%; } }

.swoopy-2 path {
  fill: none;
  stroke: white; }

.swoopy-2 text {
  font-size: 12px;
  color: white; }

.example {
  max-width: max-content;
  margin: auto; }
  .example .x.axis line {
    stroke: grey; }
  .example .x.axis text {
    fill: grey;
    font-size: 14px; }
  .example .y.axis line {
    stroke: grey; }
  .example .y.axis text {
    fill: grey;
    font-size: 14px; }

#example-1-wow i {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  margin: 10px;
  color: #e0e0e0;
  font-size: 40px;
  z-index: 1000000; }
#example-1-wow i:hover {
  color: wheat;
  transform: scale(1.3); }

.note {
  width: 80%;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  color: white;
  margin: 0 auto 50px auto;
  padding: 30px; }

#update_wow {
  opacity: 0.4; }

#scatter-plot #nav-wrapper {
  position: sticky;
  top: 0px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  z-index: 10000; }
  @media (max-width: 800px) {
    #scatter-plot #nav-wrapper {
      display: block; } }
#scatter-plot #filter {
  height: 30px;
  min-width: 200px;
  margin-left: 20px; }
  @media (max-width: 800px) {
    #scatter-plot #filter {
      display: block;
      margin-left: 0;
      margin-bottom: 10px; } }
#scatter-plot line.axis {
  stroke-width: 2;
  stroke: #363636; }
#scatter-plot line.tick {
  stroke-width: 1; }
#scatter-plot .ternary-tick-line {
  opacity: 0.2;
  stroke-width: 1.5px; }
#scatter-plot .a-axis.tick-text {
  fill: #0887FF; }
#scatter-plot .tick line {
  opacity: 0.5; }
#scatter-plot .b-axis.tick-text {
  fill: #FF2121; }
#scatter-plot .c-axis.tick-text {
  fill: #009601; }
#scatter-plot .tick-text {
  font-size: 14px;
  opacity: 0.7; }
#scatter-plot path.trail-line {
  fill: none;
  opacity: 1;
  stroke: #dcdcdc; }

.triangle-grid {
  stroke-width: 0.5;
  stroke: #6d6d6d;
  opacity: 0.2; }

circle.circle-tip {
  opacity: 1;
  stroke: grey; }

.mobile {
  display: none; }
  @media (max-width: 812px) {
    .mobile {
      display: block; } }

button.update {
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
  border: none;
  cursor: pointer; }

button.update:hover {
  background-color: #f59894; }

/*# sourceMappingURL=styles.css.map */
